<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html {
      height: 100%;
    }
    body {
      margin:0;
      padding:0;
      font-family: sans-serif;
      background: linear-gradient(#141e30, #243b55);
    }
    .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  /* position: absolute; */
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
}
.login-box .link-area{
  font-size: 15px;
  color: aqua;
  padding: 15px 0;
  padding-bottom: 25px ;
}
.login-box .link-area a{
  font-size: 14px;
  color:blueviolet ;
  padding: 50px 0;
}
.button {
  background-color:aqua; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(73, 140, 241);
}

.button1:hover {
  background-color: rgb(12, 80, 168);
  color: white;
}
  </style>
</head>
<body>
  
  <div class="login-box">
    
    <% if (locals.fileLink != null) { %>
      <div class="link-area">
        Your file is upload
        <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
      </div>
    <% } %>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <h2>FileShare</h2>
      <div class="user-box">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
      </div>
      <div class="user-box">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        </div>
        <button class="button button1" style="grid-column: span 2;" type="submit">Share</button>
        
    </form>
  </div>
</body>
</html>